/* CSS to deal with constraint validation styles */
input:invalid{
    border: 2px solid red;
}

input:valid{
    border: 2px solid green;
}

body {
	height: 1360px;
	width: 100%;
	margin: 0;
	spadding: 0;
	
	
}

#background {
	
	background-color: white;
	background-image: url("/assets/Background_Hopital.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed; 
	background-size:cover;
    margin:0;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family:"Times New Roman", Times, serif;
	font-size : 20px;
    text-align:center;
    padding-top:10%;
}

.list-group-item {
background-color: transparent;
font-family:"Arial";
font-size : 28px;



}